:root {
  --common-family: 'Roboto', sans-serif;
  --secondary-family: 'Raleway', sans-serif;
  --brand-color: #2196f3;
  --text-color: #212121;
  --logo-color: #000000;
  --accent-color: #ffffff;
  --shadow-color: #757575;
  --head-border-color: #ececec;
  --hero-bg-color: #c4c4c4;
  --page-btn-hover: #188ce8;
  --card-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --footer-bg-color: #2f303a;
  --galery-border-color: #eeeeee;
  --common-spacing: 0.03em;
  --card-gap: 30px;
}
